.popover {
    position: relative;

    & .popover-button {
        &[aria-expanded='true'] {
            color: color-mix(
                in srgb,
                var(--nav-link-color, inherit),
                transparent 20%
            );
        }
    }

    & .popover-panel {
        position: absolute;
        left: calc(50% - 0.5rem);
        transform: translateX(-50%);
        /* margin-block-start: 4px; */
        background-color: color-mix(
            in srgb,
            var(--ucla-darker-blue),
            transparent 10%
        );
        padding: var(--space-3xs);
        box-shadow: var(--shadow-base);
        border-block-start: 1px solid var(--ucla-primary-blue);
        backdrop-filter: blur(4px);
        width: 14rem; /* 12 rem */
        transform-origin: top left;
        z-index: 60;
        animation: 0.2s popover-in;
    }
}
