.popover {
    position: relative;

    & .popover-button {
        &[aria-expanded='true'] {
            color: var(--ucla-primary-blue);
        }
    }

    & .popover-panel {
        position: absolute;
        left: calc(50% - 0.5rem);
        transform: translateX(-50%);
        margin-block-start: 4px;
        background-color: var(--ucla-white);
        padding: var(--space-3xs);
        box-shadow: var(--shadow-base);
        border-block-start: 1px solid var(--site-border);
        width: 14rem; /* 12 rem */
        transform-origin: top left;
        z-index: 60;
        animation: 0.2s popover-in;
    }
}
