---

---

<div class="sidebar-panel | flow" data-tempo="andante">
    <div class="on-page-nav">
        <div class="small-title">On Page Nav</div>
        <nav></nav>
    </div>
</div>

<style>
    .small-title {
        font-size: var(--step--1);
        padding-inline: 4px;
    }
</style>
