---
import { addMonth, isAfter, isBefore, sameDay, tzDate } from '@formkit/tempo';
import EventsList from './EventsList.astro';
import EventsSidebar from './EventsSidebar.astro';
import { getCollection } from 'astro:content';
import { sortUpcoming } from '@lib/utils/sortEvents';

// filter to show only upcoming within next 6 months
const now = new Date();
const monthLimit = 6;
const events = await getCollection('events', ({ data }) => {
    return (
        (sameDay(tzDate(data.details.startDate, 'America/Los_Angeles'), now) ||
            isAfter(data.details.startDate, now)) &&
        isBefore(data.details.startDate, addMonth(now, monthLimit))
    );
});

const sorted = sortUpcoming(events);
---

<div class="content-wrapper">
    <div class="with-sidebar">
        <div class="sidebar-panel | flow" data-tempo="andante">
            <EventsSidebar />
        </div>
        <div class="main-panel">
            <div class="flow" data-tempo="allegro">
                <h2>Upcoming Events</h2>
                <p>
                    Showing {events.length}
                    {events.length == 1 ? 'result' : 'results'}
                </p>
            </div>
            <EventsList events={sorted} />
            <div class="space-xl-top">
                <a
                    class="button-link"
                    data-style="primary"
                    href="/events/archive/1">View Recent Events</a
                >
            </div>
        </div>
    </div>
</div>
