---
import type { Gallery } from '@content/schemaFragments/pageModules';
import SanityImage from '@components/SanityImage.astro';

interface Props {
    module: Gallery;
}

const { module } = Astro.props;

/* todo: add more grid styles in options */
---

<section
    class:list={[{ 'section-margin': module.options.sectionMargin }]}
    data-module={module._type}
>
    <div class="content-wrapper">
        <div class="grid | gallery-images">
            {
                module.images.length > 0 &&
                    module.images.map((image) => (
                        <figure
                            class="image-wrapper"
                            x-bind:class="caption && 'caption-visible'"
                            x-data="{
                            caption: false,
                            toggleCaption() {
                                this.caption = !(this.caption)
                            }
                        }"
                        >
                            <button
                                class="caption-toggle"
                                x-on:click="toggleCaption()"
                            >
                                <svg
                                    aria-hidden="true"
                                    class="open"
                                    height="24"
                                    name="UCLA Information"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M11 17L13 17L13 11L11 11L11 17ZM12 9C12.2833 9 12.521 8.904 12.713 8.712C12.9043 8.52067 13 8.28334 13 8C13 7.71667 12.9043 7.479 12.713 7.287C12.521 7.09567 12.2833 7 12 7C11.7167 7 11.4793 7.09567 11.288 7.287C11.096 7.479 11 7.71667 11 8C11 8.28333 11.096 8.52067 11.288 8.712C11.4793 8.904 11.7167 9 12 9ZM12 22C10.6167 22 9.31666 21.7373 8.1 21.212C6.88333 20.6873 5.825 19.975 4.925 19.075C4.025 18.175 3.31266 17.1167 2.788 15.9C2.26266 14.6833 2 13.3833 2 12C2 10.6167 2.26267 9.31667 2.788 8.1C3.31267 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.31233 8.1 2.787C9.31667 2.26233 10.6167 2 12 2C13.3833 2 14.6833 2.26234 15.9 2.787C17.1167 3.31234 18.175 4.025 19.075 4.925C19.975 5.825 20.6873 6.88334 21.212 8.1C21.7373 9.31667 22 10.6167 22 12C22 13.3833 21.7373 14.6833 21.212 15.9C20.6873 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6873 15.9 21.212C14.6833 21.7373 13.3833 22 12 22Z" />
                                </svg>
                                <svg
                                    aria-hidden="true"
                                    class="close"
                                    height="24"
                                    name="UCLA Close Circle Solid"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        clip-rule="evenodd"
                                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12 10.6L15.6 7L17 8.4L13.4 12L17 15.6L15.6 17L12 13.4L8.4 17L7 15.6L10.6 12L7 8.4L8.4 7L12 10.6Z"
                                        fill-rule="evenodd"
                                    />
                                </svg>
                                <span class="visually-hidden">
                                    Toggle Caption
                                </span>
                            </button>
                            <SanityImage alt={image.alt} source={image} />
                            {image.caption && (
                                <figcaption
                                    class="gallery-caption"
                                    x-show="caption"
                                >
                                    {image.caption}
                                </figcaption>
                            )}
                        </figure>
                    ))
            }
        </div>
    </div>
</section>

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: var(--space-s);

        & > :first-child {
            grid-row: span 2;
        }
    }

    :global(.gallery-images img) {
        width: 100%;
        /* height: 100%; */
        /* object-fit: cover; */
    }

    .image-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--ucla-gray-2);

        &:hover {
            & .caption-toggle {
                --toggle-opacity: 1;
            }
        }

        &.caption-visible {
            --toggle-opacity: 1;

            & .open {
                display: none;
            }

            & .close {
                display: block;
            }
        }
    }

    figcaption {
        position: absolute;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 75%;
        background: linear-gradient(
            to top,
            rgb(0 0 0 / 95%) 2rem,
            rgb(0 0 0 / 0%)
        );
        padding: var(--space-s);
        font-size: var(--step-0);
        color: white;
        line-height: 1.35;
        animation: figcaption-in 0.3s;
    }

    .caption-toggle {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 3;
        background-color: var(--ucla-primary-blue);
        padding: 0.25rem;
        opacity: var(--toggle-opacity, 0);
        transition: opacity 0.2s;

        &:focus {
            --toggle-opacity: 1;
        }

        & svg {
            fill: var(--ucla-white);
        }

        & .open {
            display: block;
        }

        & .close {
            display: none;
        }
    }

    @keyframes figcaption-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @media screen and (max-width: 640px) {
        .grid {
            grid-template-columns: 1fr;
        }

        .caption-toggle {
            opacity: 1;
        }

        figcaption {
            overflow-y: scroll;
            height: 100%;
        }
    }
</style>
