---
import RichTextBlocks from '@components/richText/RichTextBlocks.astro';
import type { RichText as RichTextModule } from '@content/schemaFragments/pageModules';

interface Props {
    module: RichTextModule;
    contained?: boolean; // if true, sets max width and margin-inline auto on child content
    withPadding?: boolean; // if true, adds inline padding to parent wrapper
}

const { module, contained = false, withPadding = true } = Astro.props;
---

<div
    class:list={[{ 'content-wrapper': withPadding }]}
    data-module={module._type}
>
    <div
        class:list={[
            'rich-text | flow',
            {
                'section-margin': module.options?.sectionMargin,
                contained: contained,
            },
        ]}
    >
        {module.blocks && <RichTextBlocks blocks={module.blocks} />}
    </div>
</div>

<style></style>
