---
import BaseLayout from '@layouts/BaseLayout.astro';

/* todo: customize search results for videos to show generic video thumbnail? */
---

<BaseLayout og={undefined} seo={undefined} title="Search">
    <main
        class="page footer-margin"
        data-template="search"
        id="main-content"
        tabindex="-1"
    >
        <div class="content-wrapper">
            <header class="text-center | flow" data-tempo="allegro">
                <h1>Search</h1>
                <p>
                    Start typing to search across this site for pages, events,
                    and resources.
                </p>
            </header>
            <div
                class="search-wrapper"
                id="search"
                x-data="{
                init() {
                    window.addEventListener('DOMContentLoaded', (e) => {
                        new PagefindUI({ element: '#search' });
                        const searchInput = document.querySelector('.pagefind-ui__search-input');
                        searchInput.focus();
                    });
                }
            }"
            >
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    header {
        margin-block-start: var(--space-2xl);

        & p {
            font-size: var(--step-1);
        }
    }

    .page {
        & > .content-wrapper {
            --wrapper-max-width: 1280px;
        }
    }

    .search-wrapper {
        margin-block-start: var(--space-l);
    }
</style>

<script defer is:inline src="/pagefind/pagefind-ui.js"></script>
