---
import '@styles/site.css';
import type {
    OGBlock,
    SEOBlock,
} from '@content/schemaFragments/sanityComponents';
import type { CollectionEntry } from 'astro:content';
import HeadAssets from '@components/document/HeadAssets.astro';
import HeadMeta from '@components/document/HeadMeta.astro';
import type { Page } from '@lib/utils/types';
import SiteFooter from '@components/navigation/SiteFooter.astro';
import SiteHeader from '@components/navigation/SiteHeader.astro';

interface Props {
    title: string;
    seo: SEOBlock;
    og: OGBlock;
}

const { title, seo, og } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <HeadMeta og={og} seo={seo} title={title} />
        <HeadAssets />
    </head>
    <body>
        <SiteHeader />
        <slot />
        <SiteFooter />
    </body>
</html>
